.root {
  height: 100%;
}

.App {
  height: 100%;
}

.App-logo {}

.App-header {
  background: #fc0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 30px;
}

.container .header {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}

.search-results {
  margin-top: 64px;
}

.card .header {
  padding: 16px;
  background: #fc0;
}
